# Gemini API
GOOGLE_GENERATIVE_AI_API_KEY=your_token_here

# Clerk (auth)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_token_here
CLERK_SECRET_KEY=your_token_here

# UploadThing (file storage)
UPLOADTHING_TOKEN='your_token_here'

# Database
TURSO_DATABASE_URL=file:sqlite.db

# When deploying, do
#TURSO_DATABASE_URL=libsql://your-db-name-org.turso.io
#TURSO_AUTH_TOKEN=your_token_here
